.App {
  max-width: 750px;
  height: 100%;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.show-packages{
  background-color: rgb(94, 94, 91);
  max-width: 390px;
  min-width: 350px;
  max-height: 350px;
  color: white;
  padding: 10px;
  border-radius: 3px;
  overflow: auto;
}
