body{
  background-color: rgb(63, 63, 63);
}
.App {
  max-width: 750px;
  height: 100%;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(150, 148, 148);
  box-shadow: 3px 5px 7px rgb(150, 148, 148);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.show-packages{
  background-color: rgb(94, 94, 91);
  max-width: 390px;
  min-width: 350px;
  max-height: 440px;
  color: white;
  padding: 10px;
  border-radius: 3px;
  overflow: auto;
}
.error{
  color: red;
  text-align: left;
}
